html {
    font-size: 62.5%;
}

html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: white;
    margin: auto;
}

.width {
    position: relative;
    max-width: 1200px;
    margin: auto;
    background-color: white;
    /* border: #cf1e1e 1px solid; */
}

.headet-item {
    margin-top: 21px;
    width: 112px;
}

.header-item-2 {
    display: flex;
    gap: 5%;
    height: 36px;
    margin-top: 6%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: #000000;
}

.header-3 {
    max-width: 1074px;
    height: 376px;
}

.header-item-3 {
    display: flex;
    justify-content: space-between;
}

.header-3-left {
    width: 60%;
    justify-content: space-between;
}

.header-3-left-first {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 101.38%;
    margin-left: 12px;
}

.header-3-left-second {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.header-3-right {
    width: 30%;
}

.header-3-rifgt-foto-1 {
    position: relative;
    z-index: 2;
}

.header-3-rifgt-foto-2 {
    position: relative;
    bottom: 15px;
    left: 30px;
}

.header-4 {
    width: 100%;
    display: flex;
    padding-bottom: 15%;
    padding-top: 15%;
}

.header-4-blok {
    margin: auto;
    width: 483.63px;
    height: 200px;

    padding: 20px;

    background: #204984;
    border-radius: 5px;
}

.header-4-item-1 {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
}

.header-4-item-2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    text-align: right;
    color: #FFFFFF;
}

.header-5 {
    width: 365px;
    height: 93px;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;


    color: #000000;
}

.header-6 {
    display: flex;
    justify-content: space-between;

}

.header-6-left {
    width: 60%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
}

.header-6-left p:nth-child(2) {
    margin-top: 10px;
}

.header-6-right {
    width: 30%;
}

.header-6-right-foto-1 {
    position: relative;
    z-index: 2;
}

.header-6-right-foto-2 {
    position: relative;
    bottom: 25px;
}

.header-7 {
    display: flex;
    align-items: center;
    gap: 5%;
}

.header-7-left img {
    display: block;
    width: 232px;
}

.header-7-left img:nth-child(1) {
    position: relative;
    z-index: 2;

}

.header-7-left img:nth-child(2) {
    position: relative;
    bottom: 20px;

}

.header-7-right {
    display: flex;
    gap: 95px;
}

.header-7-right-right {
    display: flex;
}

.header-7-right-blok-1 {
    width: 150px;
    height: 39px;
}

.header-7-right-blok-1 p:nth-child(1) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;

    color: #000000;
}

.header-7-right-blok-1 p:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: #000000;
}

.header-8 {
    padding-top: 5%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;

    color: #000000;
}

.header-9 {
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.header-9-blok-1 {
    margin-top: 5%;
    width: 223px;
    height: 39px;
}

.header-9-blok-1 p:nth-child(1) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    /* or 32px */


    color: #1E4681;

}

.header-9-blok-1 p:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;

    color: #000000;

}

.header-10 {
    width: 93px;
    width: 100%;

    padding-top: 15%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}

.header-11 {
    padding-top: 5%;
    padding-left: 2%;
}

.header-11 ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;

    color: #000000;
}

.header-12 {
    padding-top: 7%;
    width: 100%;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;

    color: #000000;
}

.header-13 {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    padding-top: 2%;
}

.header-13-blok {
    margin-bottom: 3%;
    width: 31.3%;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-13-item-1 img {
    width: 100%;
    height: 160px;
}

.header-13-item-2 {
    padding-left: 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;

    color: #000000;

}

.header-13-item-3 {
    padding-bottom: 5%;
    padding-left: 3%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;

    color: #000000;
}

/* .width-2 {
    margin: auto;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
} */

.header-14 {

    display: flex;
    padding-top: 5%;
    padding-bottom:2% ;

}

.header-15 {
    background: #EFEFEF;
    padding-top: 2%;

    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);

}

.header-14-15 {
    padding-bottom: 5%;

}

.header-14 p {
    display: flex;
    margin: auto;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;
}

.header-15-blok-main {
    margin: auto;
    width: 791px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.header-15-blok-1 p {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.header-15-blok-2 {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-15-block-right p {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
}

.header-16 {
    background: #9DC9C8;
    padding-bottom: 5%;
    width: 100vw;
    position: relative;
    left: calc(50% - 50vw);
    
}

.header-16-blok-1 {
    padding-top: 12%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 101.38%;

    color: #000000;
}

.header-16-blok-2 {
    margin-top: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;

    color: #000000;
}

.header-16-blok-3 {
    margin-top: 1%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 101.38%;

    color: #000000;
}

.header-16-blok-4 {
    padding-top: 4%;
    display: flex;
    gap: 2%;
}

.header-16-blok-4-first {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;

    color: #000000;
}

.header-16-blok-4-second {
    padding-top: 8%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;

    color: #000000;
}

.header-16-blok-4-item {
    width: 25%;
}

.header-17 {
    background-color: #000000;


    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
}

.header-17-blok {
    padding-top: 3%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    background-color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 101.38%;
    width: 100%;

    color: #FFFFFF;
}

.header-item-3-1 {
    display: flex;
    gap: 9%;
    padding-top: 5%;
}

.header-17-data {
    padding-top: 20%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 101.38%;

    color: #FFFFFF;
}

.header-17-blok-right {
    padding-right: 2%;

}
.header-17-blok-down{
    cursor: pointer;
}

@media (max-width:834px) {
    .width {
        max-width: 691px;
    }

    .container {
        width: 834px;
        height: 100%;
    }

    .headet-item img {
        margin-top: 21px;
        width: 65px;
    }

    .header-item-2 img {
        font-size: 12px;
        width: 12px;
    }

    .header-item-2 span {
        font-size: 12px;
        width: 12px;
    }

    .header-3 {
        max-width: 621px;
        height: 176px;
    }

    .header-3-left-first {
        font-size: 46px;
    }

    .header-3-left-second {
        font-size: 12px;
    }

    .header-3-right img {
        width: 176.07px;
    }

    .header-4-blok {
        width: 280.11px;
        height: 115.83px;
    }

    .header-4-item-1 {
        font-size: 14px;
    }

    .header-4-item-2 {
        font-size: 12px;
    }

    .header-5 {
        width: 365px;
        height: 93px;
        font-size: 32px;
    }

    .header-6-left {
        width: 60%;
        font-size: 12px;
    }

    .header-6-right {
        width: 40%;
    }

    .header-6-right img {
        width: 211px;
    }

    .header-7-left img {
        width: 134px;
    }

    .header-7-right-blok-1 {
        width: 86px;
        height: 39px;
    }

    .header-7-right-blok-1 p:nth-child(1) {
        font-size: 15px;
    }

    .header-7-right-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    .header-8 {
        font-size: 32px;
    }

    .header-9-blok-1 p:nth-child(1) {
        font-size: 15px;
    }

    .header-9-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    .header-10 {
        font-size: 32px;
    }

    .header-11 ul {
        font-size: 14px;
    }

    .header-12 {
        font-size: 32px;
    }

    .header-13-blok {
        width: 200px;
        height: 189px;
    }

    .header-13-item-1 img {
        width: 100%;
        height: 92px;
    }

    .header-13-item-2 {
        font-size: 17px;
    }

    .header-13-item-3 {
        padding-left: 3%;
        font-size: 14px;
    }

    .header-14 p {
        font-size: 32px;
    }

    .header-15-blok-main {
        width: 458px;
    }

    .header-15-block-left img {
        width: 80px;
    }

    .header-15-blok-1 p {
        font-size: 12px;
    }

    .header-15-block-left {
        width: 110px;
    }

    .header-15-blok-2 {
        display: flex;
        align-items: center;
        gap: 20%;
    }

    .header-15-block-right p {
        font-size: 17px;
    }

    .header-15-block-right img {
        font-size: 19px;
    }

    .header-16 {
        background: #9DC9C8;
    }

    .header-16-blok-1 {
        font-size: 32px;
    }

    .header-16-blok-2 {
        font-size: 14px;
    }

    .header-16-blok-3 {
        font-size: 46px;
    }

    .header-16-blok-4-first {
        font-size: 14px;
    }

    .header-16-blok-4-second {
        font-size: 14px;
    }

    .header-17 {
        background-color: #000000;
        height: 270px;
    }

    .header-17-blok-up img {
        width: 67px;
    }

    .header-17-blok-down img {
        width: 19.11px;
    }

    .header-17-blok-right p {
        font-size: 14px;
    }

    .header-17-blok-right img {
        width: 15px;
    }

    .header-17-data {
        font-size: 10px;
    }
}

@media (max-width:634px) {
    .width {
        max-width: 597px;
    }

    .container {
        width: 634px;
        height: 100%;
    }

    .headet-item img {
        margin-top: 21px;
        width: 65px;
    }

    .header-item-2 img {
        font-size: 12px;
        width: 12px;
    }

    .header-item-2 span {
        font-size: 11px;
        width: 11px;
    }

    .header-3 {
        max-width: 597px;
        height: 156px;
    }
    .header-3-left{
        width: 40%;
    }
    .header-3-left-first {
        font-size: 40px;
    }
    .header-3-right{
        width: 40%;
    }
    .header-3-left-second {
        font-size: 11px;
    }

    .header-3-right img {
        width: 156.07px;
    }

    .header-4-blok {
        width: 270.11px;
        height: 105.83px;
    }

    .header-4-item-1 {
        font-size: 12px;
    }

    .header-4-item-2 {
        font-size: 11px;
    }

    .header-5 {
        width: 345px;
        height: 83px;
        font-size: 30px;
    }

    .header-6-left {
        width: 50%;
        font-size: 11px;
    }

    .header-6-right {
        width: 35%;
    }

    .header-6-right img {
        width: 191px;
    }

    .header-7-left img {
        width: 124px;
    }

    .header-7-right-blok-1 {
        width: 76px;
        height: 29px;
    }

    .header-7-right-blok-1 p:nth-child(1) {
        font-size: 14px;
    }

    .header-7-right-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    .header-8 {
        font-size: 30px;
    }

    .header-9-blok-1 p:nth-child(1) {
        font-size: 14px;
    }

    .header-9-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    .header-10 {
        font-size: 30px;
    }

    .header-11 ul {
        font-size: 12px;
    }

    .header-12 {
        font-size: 30px;
    }

    .header-13-blok {
        width: 30%;
        height: 189px;
    }

    .header-13-item-1 img {
        width: 100%;
        height: 92px;
    }

    .header-13-item-2 {
        font-size: 17px;
    }

    .header-13-item-3 {
        padding-left: 3%;
        font-size: 14px;
    }

    .header-14 p {
        font-size: 30px;
    }

    .header-15-blok-main {
        width: auto;
        margin: 0 20px;
    }

    .header-15-block-left img {
        width: 80px;
    }

    .header-15-blok-1 p {
        font-size: 12px;
    }

    .header-15-block-left {
        width: 110px;
    }

    .header-15-blok-2 {
        display: flex;
        align-items: center;
        gap: 20%;
    }

    .header-15-block-right p {
        font-size: 15px;
    }

    .header-15-block-right img {
        font-size: 17px;
    }

    .header-16 {
        background: #9DC9C8;
    }

    .header-16-blok-1 {
        font-size: 30px;
    }

    .header-16-blok-2 {
        font-size: 12px;
    }

    .header-16-blok-3 {
        font-size: 42px;
    }

    .header-16-blok-4-first {
        font-size: 12px;
    }

    .header-16-blok-4-second {
        font-size: 12px;
    }

    .header-17 {
        background-color: #000000;
        height: 270px;
    }

    .header-17-blok-up img {
        width: 67px;
    }

    .header-17-blok-down img {
        width: 19.11px;
    }

    .header-17-blok-right p {
        font-size: 14px;
    }

    .header-17-blok-right img {
        width: 15px;
    }

    .header-17-data {
        font-size: 10px;
    }
}
@media (max-width:446px) {
    .width {
        max-width: 360px;
    }

    .container {
        width: 400px;
        height: 100%;
    }

    .headet-item img {
        margin-top: 16px;
        width: 40px;
    }

    .header-item-2 img {
        font-size: 11px;
        width: 10px;
    }

    .header-item-2 span {
        font-size: 11px;
        width: 11px;
    }

    .header-3 {
        max-width: 597px;
        height: 156px;
    }
    .header-3-left{
        width: 30%;
    }
    .header-3-left-first {
        font-size: 30px;
    }
    .header-3-right{
        width: 47%;
    }
    .header-3-left-second {
        font-size: 11px;
    }

    .header-3-right img {
        width: 156.07px;
    }

    .header-4-blok {
        width: 270.11px;
        height: 105.83px;
    }

    .header-4-item-1 {
        font-size: 12px;
    }

    .header-4-item-2 {
        font-size: 11px;
    }

    .header-5 {
        width: 300px;
        height: 73px;
        font-size: 30px;
    }

    .header-6-left {
        width: 50%;
        font-size: 11px;
    }

    .header-6-right {
        width: 50%;
    }

    .header-6-right img {
        width: 171px;
    }

    .header-7-left img {
        width: 104px;
    }

    .header-7-right-blok-1 {
        width: 76px;
        height: 29px;
    }
    .header-7-right{
        gap: 8px;
    }

    .header-7-right-blok-1 p:nth-child(1) {
        font-size: 12px;
    }

    .header-7-right-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    

    .header-13-blok {
        width: 48%;
        height: 179px;
    }

    .header-13-item-1 img {
        width: 100%;
        height: 82px;
    }

    .header-13-item-2 {
        font-size: 16px;
    }

    .header-13-item-3 {
        padding-left: 8%;
        font-size: 13px;
    }

    .header-14 p {
        font-size: 28px;
    }

    .header-15-blok-main {
        width: auto;
        margin: 0 20px;
    }

    .header-15-block-left img {
        width: 80px;
    }

    .header-15-blok-1 p {
        font-size: 12px;
    }

    .header-15-block-left {
        width: 110px;
    }

    .header-15-blok-2 {
        display: flex;
        align-items: center;
        gap: 20%;
    }

    .header-15-block-right p {
        font-size: 15px;
    }

    .header-15-block-right img {
        font-size: 17px;
    }

    .header-16 {
        background: #9DC9C8;
    }

    .header-16-blok-1 {
        font-size: 30px;
    }

    .header-16-blok-2 {
        font-size: 12px;
    }

    .header-16-blok-3 {
        font-size: 42px;
    }

    .header-16-blok-4-first {
        font-size: 12px;
    }

    .header-16-blok-4-second {
        font-size: 12px;
    }

    .header-17 {
        background-color: #000000;
        height: 270px;
    }

    .header-17-blok-up img {
        width: 67px;
    }

    .header-17-blok-down img {
        width: 19.11px;
    }

    .header-17-blok-right p {
        font-size: 14px;
    }

    .header-17-blok-right img {
        width: 15px;
    }

    .header-17-data {
        font-size: 10px;
    }
}
/* @media (max-width:426px) {
    .width {
        max-width: 360px;
    }

    .container {
        width: 400px;
        height: 100%;
    }

    .headet-item img {
        margin-top: 16px;
        width: 40px;
    }

    .header-item-2 img {
        font-size: 11px;
        width: 10px;
    }

    .header-item-2 span {
        font-size: 11px;
        width: 11px;
    }

    .header-3 {
        max-width: 597px;
        height: 156px;
    }
    .header-3-left{
        width: 30%;
    }
    .header-3-left-first {
        font-size: 30px;
    }
    .header-3-right{
        width: 47%;
    }
    .header-3-left-second {
        font-size: 11px;
    }

    .header-3-right img {
        width: 156.07px;
    }

    .header-4-blok {
        width: 270.11px;
        height: 105.83px;
    }

    .header-4-item-1 {
        font-size: 12px;
    }

    .header-4-item-2 {
        font-size: 11px;
    }

    .header-5 {
        width: 300px;
        height: 73px;
        font-size: 30px;
    }

    .header-6-left {
        width: 50%;
        font-size: 11px;
    }

    .header-6-right {
        width: 50%;
    }

    .header-6-right img {
        width: 191px;
    }

    .header-7-left img {
        width: 84px;
    }

    .header-7-right-blok-1 {
        width: 76px;
        height: 29px;
    }

    .header-7-right-blok-1 p:nth-child(1) {
        font-size: 14px;
    }

    .header-7-right-blok-1 p:nth-child(2) {
        font-size: 11px;
    }

    

    .header-13-blok {
        width: 48%;
        height: 179px;
    }

    .header-13-item-1 img {
        width: 100%;
        height: 82px;
    }

    .header-13-item-2 {
        font-size: 16px;
    }

    .header-13-item-3 {
        padding-left: 8%;
        font-size: 13px;
    }

    .header-14 p {
        font-size: 28px;
    }

    .header-15-blok-main {
        width: auto;
        margin: 0 20px;
    }

    .header-15-block-left img {
        width: 80px;
    }

    .header-15-blok-1 p {
        font-size: 12px;
    }

    .header-15-block-left {
        width: 110px;
    }

    .header-15-blok-2 {
        display: flex;
        align-items: center;
        gap: 20%;
    }

    .header-15-block-right p {
        font-size: 15px;
    }

    .header-15-block-right img {
        font-size: 17px;
    }

    .header-16 {
        background: #9DC9C8;
    }

    .header-16-blok-1 {
        font-size: 30px;
    }

    .header-16-blok-2 {
        font-size: 12px;
    }

    .header-16-blok-3 {
        font-size: 42px;
    }

    .header-16-blok-4-first {
        font-size: 12px;
    }

    .header-16-blok-4-second {
        font-size: 12px;
    }

    .header-17 {
        background-color: #000000;
        height: 270px;
    }

    .header-17-blok-up img {
        width: 67px;
    }

    .header-17-blok-down img {
        width: 19.11px;
    }

    .header-17-blok-right p {
        font-size: 14px;
    }

    .header-17-blok-right img {
        width: 15px;
    }

    .header-17-data {
        font-size: 10px;
    }
} */


@media (max-width:375px) {
    .width {
        max-width: 312px;
    }

    .container {
        width: 312px;
        height: 100%;
    }

    .headet-item img {
        margin-top: 21px;
        width: 30.75px;
    }

    .header-item-2 img {
        width: 10.25px;
    }

    .header-item-2 span {
        font-size: 10px;
    }

    .header-3 {
        max-width: 304px;
        height: auto;
    }

    .header-item-3 {
        flex-direction: column;
    }

    .header-3-left {
        width: 100%;
    }

    .header-3-left-first {
        font-size: 37px;
    }

    .header-3-left-second {
        font-size: 10px;
    }

    .header-3-right {
        margin-left: 45%;
    }

    .header-3-right img {
        width: 145.07px;
    }

    .header-4-blok {
        width: 280.11px;
        height: 115.83px;
    }

    .header-4-item-1 {
        font-size: 14px;
    }

    .header-4-item-2 {
        font-size: 12px;
    }

    .header-5 {
        width: 365px;
        height: 93px;
        font-size: 26px;
    }

    .header-6 {
        flex-direction: column;
    }

    .header-6-left {
        width: 100%;
        font-size: 12px;
    }

    .header-6-right {
        width: 100%;
        padding-left: 20%;
    }

    .header-6-right img {
        width: 170px;
    }

    .header-7-left img {
        display: none;
    }

    .header-7-right {
        width: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }

    .header-7-right-blok-1 p:nth-child(1) {
        font-size: 12px;
    }

    .header-7-right-blok-1 p:nth-child(2) {
        font-size: 10px;
    }

    .header-8 {
        font-size: 26px;
    }

    .header-9 {
        flex-direction: column;
    }

    .header-9-blok-1 p:nth-child(1) {
        font-size: 12px;
    }

    .header-9-blok-1 p:nth-child(2) {
        font-size: 10px;
    }

    .header-10 {
        font-size: 26px;
    }

    .header-11 ul {
        font-size: 12px;
    }

    .header-12 {
        font-size: 26px;
        justify-content: center;
    }

    .header-12 p {
        margin: auto;
        justify-content: center;
    }

    .header-13 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .header-13-blok {
        width: 215px;
        height: 172px;
    }

    .header-13-item-1 img {
        width: 100%;
        height: 92px;
    }

    .header-13-item-2 {
        font-size: 14px;
    }

    .header-13-item-3 {
        padding-left: 3%;
        font-size: 12px;
    }

    .header-14 p {
        width: 80%;
        font-size: 26px;
    }

    .header-15-blok-main {
        /* width: 260px; */
    }

    .header-15-blok-1 p {
        font-size: 10px;
    }

    .header-15-block-left img {
        width: 80px;
    }

    .header-15-blok-2 {
        display: flex;
        align-items: center;
        gap: 20%;
    }

    .header-15-block-right p {
        font-size: 14px;
    }

    .header-15-block-right img {
        font-size: 109px;
    }

    .header-16 {
        background: #9DC9C8;
    }

    .header-16-blok-1 {
        font-size: 26px;
    }

    .header-16-blok-2 {
        font-size: 14px;
    }

    .header-16-blok-3 {
        font-size: 46px;
    }

    .header-16-blok-4-first {
        font-size: 14px;
    }

    .header-16-blok-4-second {
        font-size: 14px;
    }

    .header-16-blok-4-item {
        width: 50%;
    }

    .header-17 {
        background-color: #000000;
        height: 270px;
    }

    .header-17-blok-up img {
        width: 67px;
    }

    .header-17-blok-down img {
        width: 19.11px;
    }

    .header-17-blok-right p {
        font-size: 14px;
    }

    .header-17-blok-right img {
        width: 15px;
    }

    .header-17-data {
        font-size: 10px;
    }
}